    <nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" routerLink="login">Login</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="register">Register</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="product">Product</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="product-listing">Product-lists</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="help">Help</a>
  </div>
</nav>

  <div class="col-md-5 p-lg-5 mx-auto my-5" >
    <h1 class="display-4 font-weight-normal">Zara Fashions</h1>
    <p class="lead font-weight-normal">Zara SA is a Spanish apparel retailer based in Arteixo in Galicia.It iOfficial link given below.</p>
    <a class="btn btn-outline-secondary" href="https://www.zara.com/us/en/man-l534.html">Explore...</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

    